.thead {
    background-color: black;
    color: white;
    font-size: 16px;
}

.active {
    display: table-row;
    background-color: rgba(17, 17, 17, 0.8);
    color: white;
    border: 1px solid white;
}

.not-Active {
    display: none;
}

.TableWrapper {
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    border: 1px solid white;
}

/* .childWrapper {
    background-color: rgba(17, 17, 17, 0.8);
    color: white;
    border: 1px solid white;
} */

.btnHandler {
    border: none;
    border-radius: 3px;
    margin: 0px 10px;
    cursor: pointer;
}

.btnHandler:focus {
    outline: none;
}